{{! Homepage }}
{{! Loop over each object in the Post }}
<div class="container">
  <div class="row homepage-main">
    {{#each Posts as |Post|}}
      <div class="row mb-4 project card text-dark shadow">
        <div class="card-header">
          <h3>
            <a href="/Post/{{Post.id}}">{{Post.title}}</a>
          </h3>
          <p>Created by
            {{Post.user.name}}
            on
            {{format_date Post.date_created}}</p>
        </div>
        <div class="card-body">
          <p>{{Post.description}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
